[submodule "client"]
    path = client
    url = <repo-url>
    branch = master

[submodule "engine"]
    path = engine
    url = <repo-url>
    branch = main

[submodule "server"]
    path = server
    url = <repo-url>
    branch = main
