[submodule "server"]
	path = server
	url = https://github.com/cy-r0x/JudgeBackend
[submodule "engine"]
	path = engine
	url = https://github.com/cy-r0x/JudgeServer
[submodule "client"]
	path = client
	url = https://github.com/cy-r0x/judgenot0-nextjs
